<div class="container mt-6">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>

      <p class="has-text-centered">
      <span  [ngClass]="compare(letter , inputText[i])"  *ngFor="let  letter of randomText.split('') ; let i = index">{{letter}}</span>
      </p>
      <div class="field">
        <input
          type="text"
          class="input"
          
          (input)="onTextEnter($any($event.target).value)"
          aria-label="Type the text above"
        />
      </div>
      <div class="box has-text-centered" *ngIf="timerRunning || elapsedMs > 0">
        <strong>Elapsed:</strong> {{ formattedTime }}
      </div>

      <!-- نتیجه -->
      <div *ngIf="result" class="box has-text-centered">
        <h1 class="title">Success</h1>
      </div>

      <!-- گزینه ریست (اختیاری) -->
      <button class="button is-small is-info" (click)="reset()">
        <span class="icon-name">
                <i class="fa-solid fa-sync" aria-hidden="true"></i> 
              </span>
      </button>
    </div>
  </div>
</div>
